html {
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, a{
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
}

p, a{
    font-family: 'Inria Sans', sans-serif;
}

a{
    text-decoration: none;
}